<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MoviesHub</title>
</head>
<body>
  <h1>{{ heading }}</h1>
  <p>Created by {{ owner }}</p>
  <p>{{ year }}</p><br>
  {% if logged_in %}
  <h2>Welcome back!</h2>
  {% else %}
  <h2>Please log in.</h2>
  {% endif %}
  <ul>
    {% for movie in movies %}
    <li>{{ movie }}</li>
    {% endfor %}
  </ul>
  <a href="{% url 'movies:about' %}">About</a>
</body>
</html>