<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Attraction</title>
</head>
<body>
  <strong>Attraction: </strong>{{attraction.attraction}} <br><br>
  <strong>Country: </strong>{{attraction.country}} <br><br>
  <strong>City: </strong>{{attraction.city}} <br><br>
  <strong>Ticket Price: </strong>{{attraction.ticket_price}} <br><br>
  <strong>Timing: </strong>{{attraction.timing}} <br><br>
  <strong>Description: </strong>{{attraction.description}} <br><br>
</body>
</html>