<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Place</title>
</head>
<body>
  <strong>Attraction: </strong>{{place.attraction}} <br><br>
  <strong>Country: </strong>{{place.country}} <br><br>
  <strong>City: </strong>{{place.city}} <br><br>
  <strong>Ticket Price: </strong>{{place.ticket_price}} <br><br>
  <strong>Timing: </strong>{{place.timing}} <br><br>
  <strong>Description: </strong>{{place.description}} <br><br>

</body>
</html>