<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Details</title>
</head>
<body>
  <strong>Title: </strong>{{song.title}}<br>
  <br>
  <strong>Artist: </strong>{{song.artist}}<br>
  <br>
  <strong>Genre: </strong>{{song.genre}}<br>
  <br>
  <strong>Album: </strong>{{song.album}}<br>
  <br>
  <strong>Duration: </strong>{{song.duration}}<br>
  <br>
  <strong>Release Year: </strong>{{song.release_year}}<br>
  <br>
  <strong>Lyrics Preview: </strong>{{song.lyrics_preview}}<br>
  <br>
</body>
</html>