<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Course</title>
</head>
<body>
  <strong>Title: </strong> {{course.title}} <br><br>
  <strong>Category: </strong> {{course.category}} <br><br>
  <strong>Instructor: </strong> {{course.instructor}} <br><br>
  <strong>Duration: </strong> {{course.duration}} <br><br>
  <strong>Level: </strong> {{course.level}} <br><br>
  <strong>Description: </strong> {{course.description}} <br><br>
</body>
</html>